

body{ margin: 0; padding: 0; font-size: 14px; color: #222; background: #f2f2f2;}
body,html{ height: 100%; }

/*Header*/
.header .navbar{ background: #fff; padding: 0; margin: 0; min-height: inherit; border-radius: 0; border: none; box-shadow: 0 1px 6px rgba(57,73,76,0.35); }
.header .navbar .navbar-brand{ margin: 15px 0; padding: 0; float: none; display: inline-block; height: auto;}


.off-canvas-container{ height: 100%;}
.off-canvas-content{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: 100%; -webkit-transition: -webkit-transform .5s ease; transition: -webkit-transform .5s ease; transition: transform .5s ease; transition: transform .5s ease, -webkit-transform .5s ease;}
.layout{  -webkit-box-flex: 1; -ms-flex: 1 0 auto; flex: 1 0 auto;}

/*Footer*/
.footer{ background: #222222; text-align: center; padding: 30px 0; font-size: 14px; color: #E0E0E0;  }
.footer .copyright{ font-size: 14px; color: #E0E0E0; }
.footer a{ font-size: 14px; color: #656565; text-decoration: none; }
.footer a:hover{ color: #656565; text-decoration: underline; }

/*Dashboard*/
/*.container{ width: 990px; }*/
.header .navbar-nav{ padding: 10px 0 0 15px;}
.header .navbar-nav li { padding: 8px 6px; text-transform: uppercase; position: relative;}
.header .navbar-nav li a{ padding: 5px; color: #666; font-size: 14px;}
.header .navbar-nav li a:hover, .header .navbar-nav li.active a, .header .navbar-nav li.active a:hover, .header .navbar-nav li.active a:focus{ color: #6fda44; background: none; outline: none;}

.header .navbar-nav li:hover ul{ display: block; }
.header .navbar-nav li ul{ margin: 0; padding: 5px 0; list-style: none; background: #fff; box-shadow: 0 0 5px rgba(0,0,0,.2); min-width: 218px; position: absolute; top: 100%; z-index: 1; display: none; }
.header .navbar-nav li ul:before{ position: absolute; top: -7px; left: 18px; content: ''; width: 15px; height: 15px; background: #fff; box-shadow: -2px -2px 3px rgba(57,73,76,.1); 
-webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
        transform: rotate(45deg); }
.header .navbar-nav li ul li{ display: block; padding: 0; text-transform: none; }
.header .navbar-nav li ul li a{ display: block; padding: 4px 16px; color: #222; text-decoration: none; border-left: 4px solid transparent;}
.header .navbar-nav li ul li a:hover{ background: #f9f9f9; color: #37a000;}
.header .navbar-nav li ul li.active a{ border-left: 4px #37a000 solid; color: #37a000;}


/*logout link*/
.header .navbar-nav.navbar-right li{ padding: 8px 0; }
.header .navbar-nav.navbar-right li:first-child a{ border-left: 1px #ddd solid; padding-left: 14px;}


.dashboard{ padding: 24px 0; }
.dashboard .date-filter { margin-left: 30px;}
.dashboard .date-filter p{ font-size: 14px; color: #222; }
.dashboard .date-filter .datebox{ position: relative;}
.dashboard .date-filter a.date-perv{ position: absolute; top: 10px; left: -30px; color: #309501; display: inline-block; cursor: pointer;}
.dashboard .date-filter .date{ font-size: 14px; color: #666; max-width: 220px; height: 40px; background: #fff url(../images/calander.jpg) no-repeat right 15px top 12px; border: 1px #d8d8d8 solid; line-height: 38px; padding: 0 20px; border-radius: 0; box-shadow: none;}
.dashboard .summary-box{ margin: 28px 0; background: #fff; box-shadow: 0 1px 6px rgba(57,73,76,0.35);}
.dashboard .summary-box .titlebar{ padding: 25px 30px; background: #f4f4f4; border-bottom: 1px #d8d8d8 solid;}
.dashboard .summary-box h2{ font-size: 26px; color: #222; margin: 0; padding: 0;}
.dashboard .summary-box .table-section{ padding: 46px 30px; }
.dashboard .summary-box .table-section table td{ font-size: 14px; color: #666; padding: 10px;}
.dashboard .summary-box .table-section table td span{ color: #6fda44; }
.dashboard .summary-box .table-section table tfoot{ border-top: 1px #d8d8d8 solid;}
.dashboard .summary-box .table-section table tfoot td{ font-size: 24px; color: #1f1f1f;}

.dashboard .summary-box ul.chart{ margin: 0; padding: 20px 0; list-style: none; }
.dashboard .summary-box ul.chart li{ display: inline-block; padding: 0 15px; width: 48%; text-align: center; vertical-align: top;}
.dashboard .summary-box ul.chart li img{ display: inline-block;}
.graytext{ color: #666!important; }
.graytext .glyphicon { color: #1f1f1f!important; }
.pt15{ padding-top: 15px; }
.pt20{ padding-top: 20px; }
.custom-row{ margin-left: -45px; margin-right: -45px; }
.header .navbar-toggle .icon-bar{ height: 3px; }
.header .navbar-default .navbar-toggle .icon-bar{ background: #252525; }




/*Responsive*/
@media(max-width: 1199px){
  .custom-row{ margin-left: 0; margin-right: 0; }
}


@media(max-width: 990px){
.header .navbar-header{ float: none; text-align: center; }
.header .navbar .navbar-brand{ margin: 14px 0; }
.header .navbar-toggle{ margin-top: 17px; background: none; margin-right: 0; border: none; float: left; padding-left: 10px; }
.header .navbar-toggle:focus{ background: none;}
.header.inner-header .navbar-brand{ margin-left: -58px;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{ background: none; }
.header .navbar-nav{ padding: 0px 0 0 10px; }

.header.inner-header .navbar-header{ float: left; margin-left: 45px; }
.header.inner-header .navbar-collapse.collapse{ margin-top: 11px; }

.dashboard .summary-box .table-section, .dashboard .summary-box ul.chart{ padding: 20px; }

}

@media(max-width: 767px){
  .header .navbar-nav{ padding: 0px 10px; }
  .header .navbar-nav li{ padding: 0; }
  .header .navbar-nav li a{ padding: 14px 5px; border-bottom: 1px #dbdbdb solid; }
  .header .navbar-nav.navbar-right{ margin-top: 0px; padding-top: 0; }
  .header .navbar-nav.navbar-right li{ padding: 0; }
  .header .navbar-nav.navbar-right li:first-child a{ padding-left: 6px; border: none; }

  .header.inner-header .navbar-header{ float: none; margin-left: 0; }
  .header.inner-header .navbar-collapse.collapse{ margin-top: 0px; }
  
}

@media(max-width: 414px){
  .dashboard .summary-box ul.chart li{ display: block; padding: 5px 15px; width: 100%;}
  .dashboard .date-filter .date{ max-width: 100%; padding: 0 20px; text-align: left; }
}